/* 承認画面 */
/* 承認画面ボタン */
.button-header-div{
  padding: 20px;
  text-align: center;
}
/* 承認画面ボタン内部 */
.button-header{
  padding: 20px;
  text-align: center;
  font-size: 150%;
}

/* 導入画面 */
/* 年齢性別聞くところ */
.introduction {
  padding: 20px;
  text-align:  center;
  height: 100px;  
}

/* 実験ページ */
/* 実験全体 */
.experiment {
  padding: 20px;
  text-align:  center;
  height: 100px;  
}
/* 8件法の説明部分 */
.point-scale {
  margin: 0 35em;
  background: #cfd6fa;
}
/* 実験の質問全体 */
.ex-block {
  margin-top: 100px;
  margin-left: 20px;
  text-align: center;
}
/* 実験の質問1つの「選択」部分 */
.ex{
  padding: 0.5em 1em;
  margin: 2em 30em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.ex p {
  margin: 0; 
  padding: 0;
}
/* 1つ目の単語 */
.lab-t {
  font-weight: bold;
  color: black;
}
/* 2つ目の単語 */
.lab-ex {
  font-weight: bold;
  color: black;
}
/* 選択した値 */
.ex-value {
  color: black;
}
