/* 承認画面 */
/* 承認画面ボタン */
.button-header-div{
  padding: 20px;
  text-align: center;
}
/* 承認画面ボタン内部 */
.button-header{
  margin: 4vw;
  padding: 20px;
  text-align: center;
  font-size: 150%;
}

/* 導入画面 */
/* 年齢性別聞くところ */
.introduction {
  padding: 20px;
  text-align:  center;
  height: 100px;  
}

/* インストラクション画面 */
.instruction {
  padding: 20px;
  text-align: center;
  height: 100px;
}
.instruction-box {
  position: relative;
  margin: 2em 20vw;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
  text-align: left;
}
.instruction-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.instruction-text {
  font-size: 20px;
}
.instruction-box p {
  margin: 0;
  padding: 0;
}

/* 実験ページ */
/* 実験全体 */
.experiment {
  padding: 20px;
  text-align:  center;
  height: 100px;  
}
/* 8件法の説明部分 */
.point-scale {
  margin: 0 35vw;
  background: linear-gradient(to right, #cfd6fa, pink);
  border-radius: 10px 10px 10px 10px;
}
/* 実験の質問全体 */
.ex-block {
  margin-top: 100px;
  /* margin-left: 20px; */
  text-align: center;
}
/* 実験の質問1つの「選択」部分 */
.ex{
  padding: 0.5px 1px;
  margin: 25px 30vw;
  color: black;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.ex p {
  margin: 0; 
  padding: 0;
}
/* 1つ目の単語 */
.lab-t {
  font-weight: bold;
}
/* 2つ目の単語 */
.lab-ex {
  font-weight: bold;
}
/* 選択した値 */
.ex-value {
  color: rgb(0, 106, 255);
  font-weight: bold;
  margin-left: 2em;
}
/* 「戻る」「次へ」ボタン */
.nb-button {
  margin: 4vw;
  padding: 1vw 1.6vw;
}

/* 終了ページ */
.end {
  padding: 20px;
  text-align:  center;
  height: 100px;  
}


/* PC画面より小さい画面 ~ タブレット用 */
@media screen and (max-width: 1050px) {
  .point-scale {
    margin: 0 25vw;
    background: linear-gradient(to right, #cfd6fa, pink);
    border-radius: 10px 10px 10px 10px;
  }
  /* 実験の質問1つの「選択」部分 */
  .ex{
    padding: 0.5px 1px;
    margin: 25px 25vw;
    color: black;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
}


/* スマホ用 */
@media screen and (max-width: 480px) {
  /* 実験ページ */
  /* 実験全体 */
  .experiment {
    text-align:  center;
  }
  /* 8件法の説明部分 */
  .point-scale {
    margin: 0 12vw;
    padding: 0 0 0 0;
    background: linear-gradient(to right, #cfd6fa, pink);
    border-radius: 10px 10px 10px 10px;
  }
  /* 実験の質問全体 */
  .ex-block {
    margin-top: 50px;
    text-align: center;
  }
  /* 実験の質問1つの「選択」部分 */
  .ex{
    padding: 0 0 0 0;
    margin: 0 0 30px 0;
    color: black;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
}
