<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/stylesheet/style.css" rel="stylesheet" type="text/css" media="all">
  <title>実験 導入</title>
</head>
<body>
  <h2>【本調査の目的】</h2>
  <div>この調査の目的は、人間がある感情を表す単語から別の感情を表す単語を、どれくらい似ていると判断するかを調べることです。</div>

  <h2>【本調査の回答方法】</h2>
  <div>調査の所要時間はおよそ20分程度です。 正しい回答・誤った回答というものはありませんので、ご自身の考えた通りに回答を進めてください。</div>

  <h2>【自発的参加の原則、および参加辞退への機会保証と不利益防止への排除】</h2>
  <div>調査への参加は、あなたの自発的行為によるものであり、あなたはいつ、いかなる理由によっても、調査への参加を中止することができます。 参加を中断しても、ペナルティは発生しません。 参加を辞退したり、また得られたデータを理由にあなたに不利益が及ぶことはありません。</div>

  <h2>【想定されるリスクとその対策】</h2>
  <div>調査自体に危険性はありませんが、いくつかの質問では回答に悩むかもしれません。 また、回答中に疲れを感じる可能性があります。 これ以上回答をすることが難しいと感じた場合は、いつでも回答を中断してください。回答を中断することで、不利益を被ることはありません。</div>

  <h2>【プライバシーの保護について】</h2>
  <div>この調査では個人を特定できるような情報は収集しません。 また、回答していただいたデータは全て匿名化のうえで処理されます 。 研究成果を学会や学術雑誌で報告する時は、全体の傾向のみが報告され、個人の結果を取り上げることはありません。 また、研究以外の目的でデータを使用することはありません。</div>

  <h2>【調査協力への報酬】</h2>
  <div>クラウドソーシングサービスを経由して調査に参加していただいた方には、クラウドソーシングサービスを介して規定の謝礼をお支払いします。 それ以外の場合は自由意志かつ無償での参加となります。</div>

  <h2>【研究成果の報告方法】</h2>
  <div>この調査で得られた成果は学会や学術雑誌で報告します。 データは全て匿名化され、個人が特定できない形で成果を報告しますが 、ご自身の回答をデータから除外したいなど、調査結果の報告についての要望があれば、調査責任者までご連絡ください。</div>

  <h2>【謝金について】</h2>
  <div>本調査を行う前に、必ずCrowdWorksの作業ページで「作業を開始する」を押してください。 この調査にすべて回答すると、最後に調査完了IDが発行されます。 調査完了IDをCrowdWorksに入力していただき、タスク完了になります。</div>
  <div class="button-header-div">
    <button class="button-header" onclick="location.href='/finish'">承認せずに終了</button>
    <button class="button-header" onclick="location.href='/experiment'">承認して次へ</button>
  </div>
</body>
</html>