<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/stylesheet/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/post_data.js"></script>
  <script type="text/javascript" src="../static/js/display.js"></script>
  <title>実験</title>
</head>

<body>
<!-- カウンター -->
  <input type="number" id="counter" name="counter" value={{cnt}} style="display: none;">

<!-- 最初の画面 -->
  <div id="introduction" class="introduction">
    <h3>【あなたの性別を選択してください】</h3>
      <input type="radio" id="male" value=0 name="jender" checked><label for="male">男性</label>
      <input type="radio" id="female" value=1 name="jender"><label for="female">女性</label>
      <input type="radio" id="others" value=2 name="jender"><label for="others">その他</label>
      
    <h3>【あなたの年齢を入力してください】</h3>
      <input type="number" id="age" name="age">

    <div><button type="button" onclick="embed_block();rangevalue();inline_div(k=0);">次へ</button></div>

    <h2>質問は全部で282問あります。</h2>
  </div>

<!-- 実験の画面 -->
  <div id="experiment" class="experiment" style="display: none;">
    <h3>【以下の質問に下の8段階から回答をドラッグして選択してください】</h3>
    <p class="point-scale">0：全く思わない 〜 7：強く思う</p>
    <p id="page"></p>

    <div class="ex-block" id="ex-block"></div>

  </div>

<script type="text/javascript" src="../static/js/rangevalue.js"></script>
</body>

</html>