<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/stylesheet/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/post_data.js"></script>
  <script type="text/javascript" src="../static/js/display.js"></script>
  <title>実験</title>
</head>

<script>
  window.onload = function() {
    // 質問の埋め込み
    embed_block();
    rangevalue();
    // ブラウザバックの制限
    preventBrowserBack();
  }
</script>

<body>
  <input type="number" id="counter" name="counter" value="{{cnt}}" style="display: none;">
  <input type="number" id="qnum" name="qnum" style="display: none;">
  <input type="text" id="userid" name="userid" style="display: none;">

<!-- 説明画面 -->
 <div id="header" class="header" style="display: inline;">
  <h2>【本調査の目的】</h2>
    <div>この調査の目的は、人間がある感情を表す単語から別の感情を表す単語を、どれくらい関連していると判断するかを調べることです。</div>

    <h2>【本調査の回答方法】</h2>
    <div>調査の所要時間はおよそ10分程度です。 正しい回答・誤った回答というものはありませんので、ご自身の考えた通りに回答を進めてください。</div>

    <h2>【自発的参加の原則、および参加辞退への機会保証と不利益防止への排除】</h2>
    <div>調査への参加は、あなたの自発的行為によるものであり、あなたはいつ、いかなる理由によっても、調査への参加を中止することができます。 参加を辞退したり、参加を中断しても、謝金はお支払いできませんが、他に不利益を被ることはありません。 また得られたデータを理由にあなたに不利益が及ぶことはありません。</div>

    <h2>【想定されるリスクとその対策】</h2>
    <div>調査自体に危険性はありませんが、いくつかの質問では回答に悩むかもしれません。 また、回答中に疲れを感じる可能性があります。 これ以上回答をすることが難しいと感じた場合は、いつでも回答を中断してください。回答を中断することで、不利益を被ることはありません。</div>

    <h2>【プライバシーの保護について】</h2>
    <div>この調査では個人を特定できるような情報は収集しません。 また、回答していただいたデータは全て匿名化のうえで処理されます 。 研究成果を学会や学術雑誌で報告する時は、全体の傾向のみが報告され、個人の結果を取り上げることはありません。 また、研究以外の目的でデータを使用することはありません。</div>

    <h2>【調査協力への報酬】</h2>
    <div>クラウドソーシングサービスを経由して調査を完了していただいた方には、クラウドソーシングサービスを介して規定の謝礼をお支払いします。 それ以外の場合は自由意志かつ無償での参加となります。</div>

    <h2>【研究成果の報告方法】</h2>
    <div>この調査で得られた成果は学会や学術雑誌で報告します。 データは全て匿名化され、個人が特定できない形で成果を報告しますが 、ご自身の回答をデータから除外したいなど、調査結果の報告についての要望があれば、調査責任者までご連絡ください。</div>

    <h2>【謝金について】</h2>
    <div>本調査を行う前に、必ずCrowdWorksの作業ページで「作業を開始する」を押してください。 この調査にすべて回答すると、最後に調査完了IDが発行されます。 調査完了IDをCrowdWorksに入力していただき、タスク完了になります。</div>
    <div class="button-header-div">
      <button class="button-header" onclick="location.href='/finish'">承認せずに終了</button>
      <button class="button-header" onclick="next_div(k=0);">承認して次へ</button>
    </div>
 </div>

<!-- 導入画面 -->
  <div id="introduction" class="introduction" style="display: none;">
    <h2 style="color: red;">ブラウザの「戻る」「再読み込み」機能を使用しないでください</h2>
    <h3>【日本語はあなたの母国語の1つですか？】</h3>
    <div>
      <input type="radio" id="yes" value=1 name="language" ><label for="yes">はい</label>
      <input type="radio" id="no" value=0 name="language"><label for="no">いいえ</label>
    </div>
    <h3>【あなたの性別を選択してください】</h3>
    <div>
      <input type="radio" id="others" value=2 name="jender"><label for="others">その他</label>
      <input type="radio" id="female" value=1 name="jender"><label for="female">女性</label>
      <input type="radio" id="male" value=0 name="jender"><label for="male">男性</label>
    </div>
      
    <h3>【あなたの年齢を入力してください】</h3>
      <div>
        <select type="number" id="age" name="age" value="40">
          <script>
            for (let i=18; i < 101; i++) {
              if (i == 40) {
                document.getElementById('age').innerHTML += `<option value="${i}" selected>${i}</option>`;
              }else{
                document.getElementById('age').innerHTML += `<option value="${i}">${i}</option>`;
              }
            }
          </script>
        </select>
      </div>

    <div class="button-header-div"><button class="button-header" type="button" onclick="is_answer_intro();">次に進む</button></div>
  </div>

<!-- インストラクション画面 -->
  <div id="instruction" class="instruction" style="display: none;">
    <div style="font-size: 18px; font-weight: bold;">
      次のページから実験が開始されます。<br>
      以下に「類似」と「関連」の違いについての記載があります。<br>
      よく読んでから実験を開始してください。
    </div>
    <div class="instruction-box">
      <span class="instruction-title">インストラクション：「類似」と「関連」の違いを示す例</span>
      <p class="instruction-text">「車」と「タイヤ」について、タイヤは車のパーツであるという意味で「関連」していますが、車そのものとは異なるため、あまり「類似」はしていません。</p>
    </div>
    <h2>質問は全部で116問あります。</h2>
    <div class="button-header-div"><button type="button" class="button-header" onclick="back_div(k=2);">戻る</button><button type="button" class="button-header" onclick="next_div(k=2);">開始</button></div>
  </div>

<!-- 実験の画面 -->
  <div id="experiment" class="experiment" style="display: none;">
    <h3>【以下の質問に下の8段階から回答をドラッグして選択してください】</h3>
    <p class="point-scale">0：全く思わない 〜 7：強く思う</p>
    <p id="page"></p>

    <div class="ex-block" id="ex-block"></div>

  </div>

<!-- 終了画面 -->
  <div id="end" class="end" style="display: none;">
    <h3>お疲れ様でした。</h3>
    <h2 style="color: red;">調査完了ID：<span id="userid_display"></span></h2>
    <h3>
      上のIDをCrowdWorksに入力し、画面を閉じてください。<br>
      ご協力ありがとうございました。
    </h3>
  </div>

<script type="text/javascript" src="../static/js/rangevalue.js"></script>
</body>

</html>