<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/stylesheet/style.css" rel="stylesheet" type="text/css" media="all">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/post_data.js"></script>
  <script type="text/javascript" src="../static/js/display.js"></script>
  <title>実験</title>
</head>

<script>
  window.onload = function() {
    // 質問の埋め込み
    embed_block();
    rangevalue();
    // ブラウザバックの制限
    preventBrowserBack();
  }
</script>

<body>
  <input type="number" id="counter" name="counter" value="{{cnt}}" style="display: none;">
  <input type="number" id="qnum" name="qnum" style="display: none;">
  <input type="text" id="userid" name="userid" style="display: none;">

<!-- 最初の画面 -->
  <div id="introduction" class="introduction" style="display: inline;">
    <h2 style="color: red;">ブラウザの「戻る」「再読み込み」機能を使用しないでください</h2>
    <h3>【日本語はあなたの母国語の1つですか？】</h3>
    <div>
      <input type="radio" id="yes" value=1 name="language" ><label for="yes">はい</label>
      <input type="radio" id="no" value=0 name="language"><label for="no">いいえ</label>
    </div>
    <h3>【あなたの性別を選択してください】</h3>
    <div>
      <input type="radio" id="others" value=2 name="jender"><label for="others">その他</label>
      <input type="radio" id="female" value=1 name="jender"><label for="female">女性</label>
      <input type="radio" id="male" value=0 name="jender"><label for="male">男性</label>
    </div>
      
    <h3>【あなたの年齢を入力してください】</h3>
      <div>
        <select type="number" id="age" name="age" value="40">
          <script>
            for (let i=18; i < 101; i++) {
              if (i == 40) {
                document.getElementById('age').innerHTML += `<option value="${i}" selected>${i}</option>`;
              }else{
                document.getElementById('age').innerHTML += `<option value="${i}">${i}</option>`;
              }
            }
          </script>
        </select>
      </div>

    <h2>質問は全部で94問あります。</h2>
    <!-- <h3>しっかり質問を読んでいただいているかを確認する問題がいくつか含まれています。</h3> -->

    <div class="button-header-div"><button class="button-header" type="button" onclick="next_div(k=0);">次に進む</button></div>
  </div>

<!-- 実験の画面 -->
  <div id="experiment" class="experiment" style="display: none;">
    <h3>【以下の質問に下の8段階から回答をドラッグして選択してください】</h3>
    <p class="point-scale">0：全く思わない 〜 7：強く思う</p>
    <p id="page"></p>

    <div class="ex-block" id="ex-block"></div>

  </div>

<!-- 終了画面 -->
  <div id="end" class="end" style="display: none;">
    <h3>お疲れ様でした。</h3>
    <h2 style="color: red;">調査完了ID：<span id="userid_display"></span></h2>
    <h3>
      上のIDをCroudWorksに入力し、画面を閉じてください。<br>
      ご協力ありがとうございました。
    </h3>
  </div>

<script type="text/javascript" src="../static/js/rangevalue.js"></script>
</body>

</html>